.course {
  .title {
    @apply tw-grid tw-gap-[20px] tw-items-baseline tw-justify-items-start;
    grid-template-columns: auto 1fr auto;
  }
}

.hh_title {
  @apply tw-grid tw-gap-[20px] tw-items-baseline tw-justify-items-start tw-mt-[50px] tw-mb-[25px];
  grid-template-columns: auto 1fr;
}

.hh {
  @apply tw-grid tw-gap-[30px];
  grid-template-columns: 1fr 3fr;

  &_stat, &_salary {
    &_title {
      @apply tw-font-light tw-text-[20px] tw-leading-[27px] tw-mb-[10px];
    }
  }

  &_stat {
    @apply tw-text-center tw-p-[20px];

    &_title {}

    &_value {
      @apply tw-font-bold tw-text-[36px] tw-leading-[49px] tw-text-primary;
    }
  }

  &_salary {
    @apply tw-grid tw-gap-y-[20px] tw-text-center tw-p-[20px];
    grid-template-columns: 1fr 1fr 1fr;

    > div {
      @apply tw-border-r tw-border-solid tw-border-gray-light last:tw-border-r-0;
    }

    &_title {}

    &_value {
      @apply tw-font-bold tw-text-[26px] tw-leading-[35px] tw-mb-[10px];
    }

    &_rate {
      @apply tw-grid tw-gap-[10px] tw-justify-center;
      grid-template-columns: repeat(3, 20px);

      .filled {
        circle {
          @apply tw-fill-red;
        }
      }
    }
  }
}

.advantage {
  @apply tw-grid tw-gap-y-[10px] tw-gap-x-[40px];
  grid-template-columns: 50px 1fr;

  .title {
    @apply tw-self-center tw-font-bold;
  }

  .vline {
    @apply tw-border-l tw-border-solid tw-border-gray-light;
  }

  .description {}
}

.seo {
  h1 {
    @apply tw-font-medium tw-text-[26px] tw-leading-[35px];
  }

  h2 {
    @apply tw-font-medium tw-text-[22px] tw-leading-[30px] tw-mt-[50px] tw-mb-[25px];
  }

  h3 {
    @apply tw-font-medium tw-text-[20px] tw-leading-[27px];
  }
}

@media screen and (max-width: 1200px) {

  .hh {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 640px) {

  .hh {
    &_salary {
      grid-template-columns: 1fr;

      > div {
        @apply tw-border-r-0 tw-border-b tw-border-solid tw-border-gray-light tw-pb-[20px] last:tw-border-b-0 last:tw-pb-0;
      }
    }
  }

}
