.course {
  @apply tw-block;
}

.products {
  .title {
    @apply tw-grid tw-gap-[20px] tw-items-baseline tw-justify-items-start;
    grid-template-columns: auto 1fr auto;
  }

  .list {
    @apply tw-mt-[25px];
  }

  .product {
    @apply tw-grid tw-p-[30px] tw-mt-[30px];
    grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

    &.opened {
      @apply tw-rounded-bl-none tw-rounded-br-none;
    }

    .title, .tags {
      grid-column: titlestart / middle;
    }

    .price, .price_title {
      white-space: nowrap;
      grid-column: pricestart / priceend;
    }

    .credit, .credit_title {
      grid-column: creditstart / creditend;
    }

    .rating, .review_title {
      white-space: nowrap;
      grid-column: ratestart / end;
    }

    .hr, .description, .actions {
      grid-column: start / end;
    }

    .logo {
      grid-column: start / logoend;
      grid-row: 1 / span 2;

      > img {
        @apply tw-rounded-[5px];
      }
    }

    .title {
      @apply tw-self-end tw-font-semibold tw-text-[20px] tw-leading-[27px];
    }

    .price, .credit {
      @apply tw-self-end tw-text-[20px] tw-leading-[27px];

      .month {
        @apply tw-text-[14px] tw-leading-[19px];
      }
    }

    .rating {
      @apply tw-grid tw-gap-[5px] tw-self-end;
      grid-template-columns: repeat(5, 20px);
    }

    .tags {
    }

    .price_title, .credit_title, .review_title {
      @apply tw-font-light tw-text-[14px] tw-leading-[19px];
    }

    .description {
      @apply tw-text-[16px] tw-leading-[24px] tw-mb-[15px];
    }

    .feature {
      grid-column: start / middle;

      .characteristic {
        @apply tw-grid tw-gap-[10px] tw-items-baseline tw-text-[16px] tw-leading-[32px] tw-pr-[60px];
        grid-template-columns: auto 1fr auto;

        &_name {
          @apply tw-font-bold;
        }

        &_dots {
          @apply tw-border-b tw-border-dashed tw-border-gray-light tw-mb-[5px];
        }

        &_value {
        }
      }
    }

    .adv_block {
      grid-column: middle / end;

      .adv_title {
        @apply tw-font-bold tw-text-[16px] tw-leading-[22px] tw-mb-[5px];
      }

      .advantages {
        @apply tw-border-l-2 tw-border-solid tw-border-green tw-pl-[15px] tw-mb-[20px];

        .adv_title {
        }

        > div {
        }
      }

      .disadvantages {
        @apply tw-border-l-2 tw-border-solid tw-border-red tw-pl-[15px];

        .adv_title {
        }

        > div {
        }
      }
    }

    .hr2 {
    }

    .actions {
    }
  }

  .reviews {
    &.opened {
      @apply tw-rounded-tl-none tw-rounded-tr-none tw-max-h-[auto];
    }

    &.closed {
      @apply tw-max-h-0 tw-overflow-hidden tw-p-0;
    }

    .review {
      @apply tw-grid tw-gap-[10px] tw-items-center tw-border-t first:tw-border-t-0 tw-border-solid tw-border-gray-light tw-text-[14px] tw-leading-[24px] tw-p-[30px];
      grid-template-columns: [start] auto 1fr auto auto [end];

      &_user {}

      &_title {
        .name {
          @apply tw-font-bold;
        }
      }

      &_date {
        @apply tw-mr-[10px];
      }

      &_rating {
        @apply tw-grid tw-gap-[5px] tw-self-end;
        grid-template-columns: repeat(5, 20px);
      }

      &_description {
        grid-column: start / end;
      }
    }

    .not_found {
      @apply tw-text-[14px] tw-leading-[19px] tw-text-red tw-p-[30px];
    }
  }
}

.hh {
  .title {
    @apply tw-grid tw-gap-[20px] tw-items-baseline tw-justify-items-start tw-mt-[50px] tw-mb-[25px];
    grid-template-columns: auto 1fr;
  }

  .content {
    @apply tw-grid tw-gap-[30px];
    grid-template-columns: 1fr 3fr;

    .stat, .salary {
      .title {
        @apply tw-font-light tw-text-[20px] tw-leading-[27px] tw-mb-[10px];
      }
    }

    .stat {
      @apply tw-text-center tw-p-[20px];

      &_title {
      }

      &_value {
        @apply tw-font-bold tw-text-[36px] tw-leading-[49px] tw-text-primary;
      }
    }

    .salary {
      @apply tw-grid tw-gap-y-[20px] tw-text-center tw-p-[20px];
      grid-template-columns: 1fr 1fr 1fr;

      > div {
        @apply tw-border-r tw-border-solid tw-border-gray-light last:tw-border-r-0;
      }

      &_title {
        @apply tw-text-center;
      }

      &_value {
        @apply tw-font-bold tw-text-[26px] tw-leading-[35px] tw-mb-[10px];
      }

      &_rate {
        @apply tw-grid tw-gap-[10px] tw-justify-center;
        grid-template-columns: repeat(3, 20px);

        .filled {
          circle {
            @apply tw-fill-red;
          }
        }
      }
    }
  }
}

.advantages {
  .title {
    @apply tw-mt-[50px] tw-mb-[25px];
  }

  .advantage {
    @apply tw-grid tw-gap-y-[10px] tw-gap-x-[40px] tw-mt-[30px] first:tw-mt-0;
    grid-template-columns: 50px 1fr;

    &_title {
      @apply tw-self-center tw-font-bold;
    }

    &_vline {
      > hr {
        @apply tw-w-[1px] tw-h-full tw-border-l tw-border-solid tw-border-gray-light tw-mx-auto;
      }
    }

    &_description {}
  }
}

.seo {
  @apply tw-mt-[30px];

  h1 {
    @apply tw-font-medium tw-text-[26px] tw-leading-[35px];
  }

  h2 {
    @apply tw-font-medium tw-text-[22px] tw-leading-[30px] tw-mt-[50px] tw-mb-[25px];
  }

  h3 {
    @apply tw-font-medium tw-text-[20px] tw-leading-[27px] tw-mt-[25px] tw-mb-[15px];
  }

  ul {
    @apply tw-list-disc tw-pl-[15px] tw-mt-[30px];

    li {
      @apply tw-italic tw-mb-[10px] last:tw-mb-0;
    }
  }
}

@media screen and (max-width: 1200px) {

  .hh {
    .content {
      grid-template-columns: 1fr;
    }
  }

}

@media screen and (max-width: 1320px) {

  .products {
    .product {
      grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
      grid-template-areas:
        "logo . title title title title title"
        "logo . tags tags tags tags tags"
        "price price price . credit . rating"
        "price_title price_title price_title . credit_title . review_title"
        "hr hr hr hr hr hr hr"
        "description description description description description description description"
        "feature feature feature feature feature feature feature"
        "adv_block adv_block adv_block adv_block adv_block adv_block adv_block"
        "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
        "actions actions actions actions actions actions actions";

      .logo {
        @apply tw-mb-[20px];
        grid-area: logo;
      }

      .title {
        grid-area: title;
      }

      .tags {
        @apply tw-mb-[20px];
        grid-area: tags;
      }

      .price {
        grid-area: price;
      }

      .credit {
        grid-area: credit;
      }

      .rating {
        grid-area: rating;
      }

      .price_title {
        grid-area: price_title;
      }

      .credit_title {
        grid-area: credit_title;
      }

      .review_title {
        grid-area: review_title;
      }

      .hr {
        grid-area: hr;
      }

      .description {
        grid-area: description;
      }

      .feature {
        @apply tw-mb-[20px];
        grid-area: feature;
      }

      .adv_block {
        grid-area: adv_block;
      }

      .hr2 {
        grid-area: hr2;
      }

      .actions {
        grid-area: actions;
      }
    }
  }

}

@media screen and (max-width: 640px) {

  .products {
    .title {
      grid-template-columns: auto 1fr;
    }

    .product {
      grid-template-columns: 70px 30px 1fr;
      grid-template-areas:
        "logo . title"
        "logo . tags"
        "price_title price_title price"
        "credit_title credit_title credit"
        "review_title review_title rating"
        "hr hr hr"
        "description description description"
        "feature feature feature"
        "adv_block adv_block adv_block"
        "hr2 hr2 hr2"
        "actions actions actions";

      .price, .credit, .rating {
        @apply tw-mb-[10px];
      }
    }

    .reviews {
      .review {
        grid-template-columns: [start] 30px [titlestart] auto [dateend] 1fr [end];

        &_title {
          grid-column: titlestart / end;
        }

        &_date {
          grid-column: start / end;
        }

        &_rating {
          grid-column: start / end;
        }
      }
    }
  }

  .hh {
    .content {
      .salary {
        grid-template-columns: 1fr;

        > div {
          @apply tw-border-r-0 tw-border-b tw-border-solid tw-border-gray-light tw-pb-[20px] last:tw-border-b-0 last:tw-pb-0;
        }
      }
    }
  }

}

@media screen and (max-width: 480px) {

  .products {
    .product {
      @apply tw-p-[20px];
      grid-template-columns: 1fr;
      grid-template-areas:
        "logo"
        "title"
        "tags"
        "price"
        "price_title"
        "credit"
        "credit_title"
        "rating"
        "review_title"
        "hr"
        "description"
        "feature"
        "adv_block"
        "hr2"
        "actions";
    }

    .reviews {
      .review, .not_found {
        @apply tw-p-[20px];
      }
    }
  }

}
