.footer {
  @apply tw-grid tw-gap-y-[10px] tw-gap-x-[40px] tw-bg-primary tw-text-[16px] tw-leading-[20px] tw-text-white tw-py-[25px] tw-px-[30px];
  grid-template-columns: 1fr auto auto;

  a {
    &:hover {
      @apply tw-text-gray-light;
    }
  }
}

@media (max-width: 765px) {

  .footer {
    grid-template-columns: 1fr;
  }

}
