.sort {
  @apply tw-grid tw-gap-[40px];
  grid-template-columns: auto auto;

  > button {
    @apply tw-bg-transparent tw-grid tw-gap-[8px] tw-items-center tw-text-[16px] tw-leading-[22px] tw-cursor-pointer;
    grid-template-columns: 20px 1fr;

    &.active {
      @apply tw-font-bold tw-text-primary;

      .sort_icon {
        @apply tw-block;
      }
    }

    &:not(.active) {
      grid-template-columns: 1fr;
    }
  }

  &_icon {
    @apply tw-hidden tw-mr-[8px];
  }
}
